.home {
    .d-flex.flex-row {
        .line {
            width: 35%;
            margin-left: 13rem;
            font-weight: 600;
            color: black;
        }
        .line2 {
            width: 35%;
            font-weight: 600;
            margin-right: 12rem;
            color: black;
        }
        .container.mx {
            margin-top: 0.5rem;
            background-color: red;
            padding: 0.4rem;
            width: 0.4rem;
            height: 0.4rem;
        }
    }

    .home1 {
        margin-top: 5rem;
        margin-left: 9rem;


    

        .home_details {
            display: flex;
            flex-direction: row;
            margin: 12px;
            
        }

        .line {
            width: 50%;
        }

        h5 {
            padding-top: 1.7rem;
            margin-left: 20px;
            text-transform: uppercase;
        }

        .home1_img {
            margin-top: 10px;
            
            

            i {
                font-size: 3rem;
                padding: 2rem;
                width: 115px;
                height: 115px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border: 1px solid red;

               
            }
        }
    }
}
