.slider {
    margin-top: 3rem;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
    .slide img {
        width: 100%;
        height: 80%;
    }
}

.slide img {
    height: 80%;
}

.current {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.content {
    position: absolute;
    top: 13rem;
    left: 22rem;
    width: 50%;
    background: rgba($color: #000000, $alpha: 0.3);
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: slide-up 1s ease 0.5s;
    // visibility: hidden;
}

@keyframes slide-up {
    0% {
        visibility: visible;
        top: 23rem;
    }
    100% {
        visibility: visible;
        top: 17rem;
    }
}

@media screen and (max-width: 600px) {
    .content {
        width: 50%;
    }
}
.content > * {
    color: #fff;
    margin-bottom: 1rem;
}

.current {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.current .content {
    opacity: 1;
}

.arrow {
    border: 2px solid black;
    border-radius: 50%;
    background: rgb(252, 252, 252);
    color: black;
    width: 3rem;
    height: 3rem;
    top: 40%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    z-index: 999;
}


.next{
    
    left: 44rem;

}
.prev{
    right: 44rem;
}
hr{
    height: 3px;
    background: #fff;
    width: 90%;
    z-index: 3;
    left: 12rem;
}